#plcalc *,
#payl8r-price-checker * {
    box-sizing: initial;
    font-size: 100%;
    font-style: initial;
    font-kerning: initial;
    transition: none;
    background-color: transparent;
    font-weight: initial;
}
#plcalc dt,
#plcalc dd {
    width:100% !important;
    float: none !important;
}
#plcalc td {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #333a45;
    font-weight: 400;
    background-color: transparent;
    padding: 10px 0
}
#plcalc a,
#plcalc div,
#plcalc h2,
#plcalc h3,
#plcalc h4,
#plcalc p,
#plcalc span,
#plcalc strong,
#plcalc td,
#plcalc input,
#payl8r-price-checker a,
#payl8r-price-checker div,
#payl8r-price-checker h2,
#payl8r-price-checker h3,
#payl8r-price-checker h4,
#payl8r-price-checker p,
#payl8r-price-checker span,
#payl8r-price-checker strong,
#payl8r-price-checker td,
#payl8r-price-checker input {
    font-size: 13px;
    float: none;
}
#plcalc a,
#plcalc div,
#plcalc h2,
#plcalc h3,
#plcalc h4,
#plcalc p,
#plcalc small,
#plcalc span,
#plcalc strong,
#plcalc input,
#payl8r-price-checker a,
#payl8r-price-checker div,
#payl8r-price-checker h2,
#payl8r-price-checker h3,
#payl8r-price-checker h4,
#payl8r-price-checker p,
#payl8r-price-checker small,
#payl8r-price-checker span,
#payl8r-price-checker strong,
#payl8r-price-checker input {
    font-family: 'Lato', sans-serif !important;
    margin: 0;
    padding: 0;
    color: #333a45;
    font-weight: 400;
    background-color: transparent
}
#plcalc h3 {
    font-size: 18px !important;
}
#plcalc {
    overflow:auto; /*added as doesnt always fit */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    min-width: 300px;
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, .92); /* increased as logo is not very visible on background */
    text-align: center
}
#plcalc.small {
    min-width: 0;
    width:240px;
    height:auto;
    position: relative;
}
#plcalc.small .payl8r-total-box span {
    font-size: 14px !important;
}
.payl8r-small-title {
    font-size: 16px !important;
    color: #21578a !important;
    margin: 5px 10px 10px !important;
}
#payl8r_logo {
    padding-top: 28px;
    display: block;
    width: 210px;
    margin: 0 auto
}
#plcalc.small #payl8r_logo {
    width: 100px;
}
#plcalc .payl8r-window {
    background-color: #fff;
    margin: 10px auto 40px;
    max-width: 482px;
    width: 60%;
    padding: 30px;
    -webkit-box-shadow: 0 0 11px 1px rgba(0, 0, 0, .22);
    -moz-box-shadow: 0 0 11px 1px rgba(0, 0, 0, .22);
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, .22);
    border-radius: 4px
}
#payl8r_close {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    z-index: -1
}
#plcalc .payl8r-grey {
    color: #85898f;
    font-weight: 300;
    line-height: 22px
}
#plcalc .payl8r-blue {
    color: #0cbcc6;
    font-size: 16px
}
#plcalc table {
    width: 100%;
    margin-bottom: 50px
}
#plcalc table tr:nth-child(2) td {
    border-top: 1px solid #ccc
}
#plcalc table td:nth-child(1) {
    width: 40%;
    text-align: center;
    vertical-align: top
}
#plcalc table td:nth-child(2) {
    width: 60%;
    text-align: left;
    vertical-align: top
}
#plcalc .payl8r-plan {
    cursor: pointer;
    border: 1px solid #0cbcc6;
    border-radius: 4px;
    margin-bottom: 14px
}
#plcalc .payl8r-plan h3,
#plcalc .payl8r-plan span {
    color: #0cbcc6;
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px
}
#plcalc .payl8r-plan p {
    color: #70757d;
    font-weight: 300;
    font-size: 16px
}
#plcalc .payl8r-plan.payl8r-selected h3,
#plcalc .payl8r-plan.payl8r-selected p,
#plcalc .payl8r-plan.payl8r-selected span,
#plcalc .payl8r-plan:hover h3,
#plcalc .payl8r-plan:hover p,
#plcalc .payl8r-plan:hover span {
    color: #fff
}
#plcalc .payl8r-plan.payl8r-selected,
#plcalc .payl8r-plan:hover {
    background-color: #0cbcc6
}
#plcalc .plan0.payl8r-selected,
#plcalc .plan0:hover {
    background-color: #21578a;
    border: 1px solid #21578a
}
#plcalc .plan3.payl8r-selected,
#plcalc .plan3:hover {
    background-color: #1c98bc;
    border: 1px solid #1c98bc
}
#plcalc .plan6.payl8r-selected,
#plcalc .plan6:hover {
    background-color: #39bdad;
    border: 1px solid #39bdad
}
#plcalc .plan9.payl8r-selected,
#plcalc .plan9:hover {
    background-color: #96ce5f;
    border: 1px solid #96ce5f
}
#payl8rDepositAmount {
    width: 100%;
    text-align: center;
    color: #0cbcc6
}
#plcalc .payl8r-total-box {
    height: 0;
    overflow: hidden
}
#plcalc .payl8r-plan.payl8r-selected .payl8r-total-box {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    font-size: 14px;
    font-weight: 300
}
#plcalc .payl8r-plan.payl8r-selected .payl8r-total-box strong,
#plcalc .payl8r-plan.payl8r-selected .payl8r-total-box strong span {
    font-weight: 400;
    font-size: 16px;
    color: #fff
}
#plcalc .payl8r-half {
    width: 47%;
    float: left
}
#plcalc .payl8r-half:nth-child(2n) {
    float: right
}
#plcalc .payl8r-large {
    font-size: 16px;
    margin-bottom: 15px;
    color: #333a45
}
#plcalc .payl8r-plan .payl8r-large {
    margin-bottom: 9px
}
#plcalc .payl8r-ttp {
    margin-top: 95px
}
.payl8r-dropdown dd,
.payl8r-dropdown dt,
.payl8r-dropdown li,
.payl8r-dropdown ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}
.payl8r-dropdown dd {
    position: relative
}
.payl8r-dropdown a,
.payl8r-dropdown a:visited {
    color: #816c5b;
    text-decoration: none;
    outline: none
}
.payl8r-dropdown a:hover {
    color: #5d4617
}
.payl8r-dropdown dt a {
    background: #e4dfcb no-repeat right center;
    background-image: url('https://payl8r.com/frontend/img/payl8r-down-c.png');
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 48px;
    width: 100%;
    line-height: 61px;
    font-weight: 100;
    border: 1px solid #0cbcc6;
    border-radius: 4px;
    text-align: center;
    color: #0cbcc6;
    display: block
}
#payl8rDepositAmount span {
    font-size: 32px
}
#plcalc.small #payl8rDepositAmount span {
    font-size: 26px
}
#plcalc.small .payl8r-dropdown dt a {
    width: auto;
}
#payl8rDepositAmount span,
#payl8rDepositAmount span small {
    font-weight: 300;
    color: #0cbcc6
}
#plcalc .payl8r-dropdown dd ul {
    background-color: #fff;
    display: none;
    left: 0;
    position: absolute;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #0cbcc6;
    box-sizing: border-box;
    list-style-type: none;
    top: -1px;
    z-index: 6
}
#plcalc .payl8r-dropdown dd ul small {
    font-size: 100%
}
#plcalc .payl8r-dropdown span.value {
    display: none
}
#plcalc .payl8r-dropdown dd ul li a {
    padding: 15px;
    display: block;
    border-top: 1px solid #0cbcc6
}
#plcalc .payl8r-dropdown dd ul li:first-child a {
    border: none
}
#plcalc .payl8r-btn,
#plcalc .payl8r-dropdown dd ul li a:hover,
#payl8r-price-checker .payl8r-btn {
    background-color: #0cbcc6;
    color: #fff
}
#plcalc .payl8r-dropdown dd ul li a:hover small {
    color: #fff
}
#plcalc small {
    font-size: 50%
}
#plcalc #payl8r_ttp,
#plcalc #payl8r_ttp span {
    font-size: 32px !important;
    color: #0cbcc6;
    margin-top: 20px
}
#plcalc .payl8r-btn,
#payl8r-price-checker .payl8r-btn {
    text-align:center;
    padding:0; /*added to overwite input submit paddings in themes and frameworks: consider !important's */
    border-radius: 40px;
    height: 64px;
    width: 100%;
    font-size: 14px;
    line-height: 64px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    text-indent: -30px;
    margin-top: 54px;
    background-image: url('https://payl8r.com/frontend/img/payl8r-arrow-white.png');
    background-repeat: no-repeat;
    background-position: 90% center;

    background-size: 34px
}
#plcalc .payl8r-btn:disabled {
    color: #adb0b5;
    background-color: #f7f7f7;
    background-image: url('https://payl8r.com/frontend/img/payl8r-arrow-grey.png')
}
#plcalc .payl8r-helper-button {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    color: #fff;
    background-color: #c1ec23;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    cursor: pointer
}
#plcalc .payl8r-helper-button.payl8r-selected .payl8r-helper-text {
    display: block
}
#plcalc .payl8r-helper-text {
    display: none;
    position: absolute;
    background-color: #dfeab0;
    border: 1px solid #d8ea8b;
    color: #333a45;
    padding: 15px;
    top: 35px;
    right: 35px;
    line-height: 20px;
    z-index: 5;
    width: 270px;
    text-align: right
}
#payl8r_deposit_helper {
    position: absolute;
    top: 30%;
    right: -40px
}
#plcalc #payl8r_plan_helper,
#plcalc #payl8r_total_helper {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 141px;
    right: 0
}
#plcalc #payl8r_plan_helper .payl8r-helper-text {
    top: 33px;
    text-align: left;
    right: -66px
}
#plcalc #payl8r_total_helper {
    left: 90px
}
#plcalc #payl8r_total_helper .payl8r-helper-text {
    top: 33px;
    right: -94px
}
#payl8r-price-checker {
    width: 300px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.25);
    border-radius:4px;
}
#payl8r-price-checker .payl8r-inner {
    padding:20px;
}
#payl8r-price-checker h3 {
    font-size: 22px;
    color: #fff;
    width:100%;
    height:60px;
    line-height:60px;
    background-color: #0CBCC6;
    font-weight:400;
    text-align:center;
    border-radius:4px 4px 0 0 ;
}
#payl8r-price-checker .pl-note {
    font-size:12px;
    color: #777;
    text-align: center;
    margin: 5px 0;
    display: block;
}
#payl8r-price-checker input {
    font-size:18px;
    color: #0CBCC6;
    border: 0;
    border-bottom:1px solid #ddd;
    padding: 10px;
    width:100px;
}
#payl8r-price-checker .payl8r-input {
    width:140px;
    margin: 0 auto;
}
#payl8r-price-checker .payl8r-btn {
    margin-top:20px;
}
#payl8r-price-checker .payl8r-logo {
    height: 30px;
    display: block;
    margin: 20px auto 0;
}
@media (min-width: 558px) {
    #plcalc .payl8r-window {
        padding: 47px
    }
}
@media (max-width: 800px) {
    #plcalc .payl8r-half {
        width: 100%;
        float: none
    }
    #plcalc .payl8r-ttp {
        margin-top: 37px
    }
}
@media (max-width: 600px) {
    #payl8rDepositAmount span {
        font-size: 30px
    }
    .payl8r-dropdown dt a {
        background-size: 35px
    }
}
@media (max-width: 450px) {
    #payl8rDepositAmount span {
        font-size: 23px
    }
    #payl8rDepositAmount dt a {
        line-height: 55px
    }
    #payl8r_deposit_helper {
        position: absolute;
        top: 29%;
        right: -28px
    }
    #plcalc #payl8r_plan_helper,
    #plcalc #payl8r_total_helper {
        top: -1px
    }
    #plcalc .payl8r-helper-button {
        width: 24px;
        height: 24px;
        line-height: 24px
    }
    #plcalc .payl8r-window {
        width: auto;
    }
}
